<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
    	<!--
        <property name="hibernate.connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
        <property name="hibernate.connection.password">systex</property>
        <property name="hibernate.connection.url">jdbc:oracle:thin:@10.10.56.119:1521:OM2ML</property>
        <property name="hibernate.connection.username">sopaadmin</property>
        <property name="hibernate.default_schema">SOPAADMIN</property>
        -->
        <property name="hibernate.jdbc.fetch_size">100</property>
        <property name="hibernate.jdbc.batch_size">200</property>
        <property name="hibernate.dialect">org.hibernate.dialect.Oracle10gDialect</property>
        <property name="hibernate.show_sql">false</property>
        
		<!-- C3P0 Connection pool 
        <property name="hibernate.connection.provider_class">org.hibernate.connection.C3P0ConnectionProvider</property>
        <property name="hibernate.c3p0.max_size">100</property>
        <property name="hibernate.c3p0.min_size">10</property>
        <property name="hibernate.c3p0.acquire_increment">2</property>
        <property name="hibernate.c3p0.idle_test_period">180</property>
        <property name="hibernate.c3p0.max_statements">0</property>
        <property name="hibernate.c3p0.timeout">600</property>
        <property name="hibernate.c3p0.debugUnreturnedConnectionStackTraces">true</property>
        <property name="hibernate.c3p0.unreturnedConnectionTimeout">180</property>
        -->

		<!-- bonecp 
		<property name="hibernate.connection.provider_class">com.jolbox.bonecp.provider.BoneCPConnectionProvider</property>
		<property name="bonecp.idleMaxAgeInMinutes">10</property>
		<property name="bonecp.idleConnectionTestPeriodInMinutes">3</property>
		<property name="bonecp.partitionCount">3</property>
		<property name="bonecp.acquireIncrement">1</property>
		<property name="bonecp.maxConnectionsPerPartition">60</property>
		<property name="bonecp.minConnectionsPerPartition">20</property>
		<property name="bonecp.statementsCacheSize">0</property>
		<property name="bonecp.releaseHelperThreads">3</property>
		<property name="bonecp.connectionTestStatement">SELECT 1</property>
	    -->
		
		<!-- Proxool -->
		<property name="hibernate.proxool.pool_alias">pool1</property>
		<property name="hibernate.proxool.xml">proxoolconf.xml</property>
		<property name="hibernate.connection.provider_class">org.hibernate.connection.ProxoolConnectionProvider</property>
		
		
        <!-- Mapping resource -->
    	<mapping resource="com/systex/sop/cvs/dto/Tbsoptcvsmap.hbm.xml"/>
    	<mapping resource="com/systex/sop/cvs/dto/Tbsoptcvsver.hbm.xml"/>
    	<mapping resource="com/systex/sop/cvs/dto/Tbsoptcvstag.hbm.xml"/>
    	<mapping resource="com/systex/sop/cvs/dto/Tbsoptcvslogin.hbm.xml"/>
    </session-factory>
    
</hibernate-configuration>
