<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
    	<!-- ABOUT CONFIG XML (more config property detail)
    	     1. org.hibernate.cfg.Environment						[HIBERNATE]
    	     2. org.apache.commons.dbcp.BasicDataSourceFactory		[DBCP]
    	        http://commons.apache.org/dbcp/configuration.html	[DBCP]
    	     3. 
    	 -->
    	<!-- DB Connection -->
        <property name="hibernate.connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
        <property name="hibernate.connection.username">sopaadmin</property>
        <property name="hibernate.connection.password">systex</property>
        <property name="hibernate.connection.url">jdbc:oracle:thin:@localhost:1521/OM2</property>
        <property name="hibernate.default_schema">SOPAADMIN</property>
        
        <!-- DB Feature -->
        <property name="hibernate.jdbc.fetch_size">200</property>
        <property name="hibernate.jdbc.batch_size">300</property>
        <property name="hibernate.dialect">org.hibernate.dialect.Oracle10gDialect</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.formate_sql">false</property>
        
        <!-- POOL - DBCP (Do not provide DBCP provider since Hibernate 3) -->
        <property name="hibernate.connection.provider_class">com.systex.sop.cvs.util.DBCPConnectionProvider</property>
        <property name="hibernate.connection.autocommit">false</property>
        <property name="hibernate.dbcp.traceConnection">false</property>
		<property name="hibernate.dbcp.initialSize">3</property>
		<property name="hibernate.dbcp.maxActive">10</property>
		<property name="hibernate.dbcp.minIdle">0</property>
		<property name="hibernate.dbcp.maxIdle">10</property>
		<property name="hibernate.dbcp.maxWait">30000</property>
        
        
		<!-- POOL - C3P0 
        <property name="hibernate.connection.provider_class">org.hibernate.connection.C3P0ConnectionProvider</property>
        <property name="hibernate.c3p0.max_size">100</property>
        <property name="hibernate.c3p0.min_size">10</property>
        <property name="hibernate.c3p0.acquire_increment">2</property>
        <property name="hibernate.c3p0.idle_test_period">180</property>
        <property name="hibernate.c3p0.max_statements">0</property>
        <property name="hibernate.c3p0.timeout">600</property>
        <property name="hibernate.c3p0.debugUnreturnedConnectionStackTraces">true</property>
        <property name="hibernate.c3p0.unreturnedConnectionTimeout">180</property>
        -->

		<!-- POOL - BoneCP  
		<property name="hibernate.connection.provider_class">com.jolbox.bonecp.provider.BoneCPConnectionProvider</property>
		<property name="bonecp.idleMaxAgeInMinutes">10</property>
		<property name="bonecp.idleConnectionTestPeriodInMinutes">3</property>
		<property name="bonecp.partitionCount">3</property>
		<property name="bonecp.acquireIncrement">1</property>
		<property name="bonecp.maxConnectionsPerPartition">60</property>
		<property name="bonecp.minConnectionsPerPartition">20</property>
		<property name="bonecp.statementsCacheSize">30</property>
		<property name="bonecp.releaseHelperThreads">3</property>
		<property name="bonecp.connectionTestStatement">SELECT 1 FROM DUAL</property>
		-->
	    
		
		<!-- POOL Proxool (Mark [DB Connection] block when POOL is Proxool and config proxoolconf.xml) 
		<property name="hibernate.proxool.pool_alias">pool1</property>
		<property name="hibernate.proxool.xml">proxoolconf.xml</property>
		<property name="hibernate.connection.provider_class">org.hibernate.connection.ProxoolConnectionProvider</property>
		-->
		
        <!-- Hibernate mapping resource -->
    	<mapping resource="com/systex/sop/cvs/dto/Tbsoptcvsmap.hbm.xml"/>
    	<mapping resource="com/systex/sop/cvs/dto/Tbsoptcvsver.hbm.xml"/>
    	<mapping resource="com/systex/sop/cvs/dto/Tbsoptcvstag.hbm.xml"/>
    	<mapping resource="com/systex/sop/cvs/dto/Tbsoptcvslogin.hbm.xml"/>
    </session-factory>
    
</hibernate-configuration>
