<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
        <property name="hibernate.connection.password">systex</property>
        <property name="hibernate.connection.url">jdbc:oracle:thin:@localhost:1521:OM2</property>
        <property name="hibernate.connection.username">sopaadmin</property>
        <property name="hibernate.default_schema">SOPAADMIN</property>
        <property name="hibernate.dialect">org.hibernate.dialect.Oracle10gDialect</property>
        <property name="hibernate.show_sql">false</property>
        <property name="hibernate.jdbc.fetch_size">1000</property>
        <property name="hibernate.jdbc.batch_size">200</property>
        
		<!-- C3P0 Connection pool -->
        <property name="hibernate.connection.provider_class">org.hibernate.connection.C3P0ConnectionProvider</property>
        <property name="hibernate.c3p0.max_size">100</property>
        <property name="hibernate.c3p0.min_size">10</property>
        <property name="hibernate.c3p0.acquire_increment">2</property>
        <property name="hibernate.c3p0.idle_test_period">180</property>
        <property name="hibernate.c3p0.max_statements">0</property>
        <property name="hibernate.c3p0.timeout">600</property>
        
        <!-- Mapping resource -->
    	<mapping resource="com/systex/sop/cvs/dto/Tbsoptcvsmap.hbm.xml"/>
    	<mapping resource="com/systex/sop/cvs/dto/Tbsoptcvsver.hbm.xml"/>
    	<mapping resource="com/systex/sop/cvs/dto/Tbsoptcvstag.hbm.xml"/>
    	<mapping resource="com/systex/sop/cvs/dto/Tbsoptcvslogin.hbm.xml"/>
    </session-factory>
    
</hibernate-configuration>
